<!DOCTYPE html>
<html>
  <head>
    <title>Transit Near Me</title>
    <link rel="stylesheet" href="app.css" />
  </head>
    <body>
      <form action="/location" method="POST">
        <div class="position">
          <input type="text" name="position[lat]" placeholder="Latitude" />
        </div>
        <div class="position">
          <input type="text" name="position[long]" placeholder="Longitude" />
        </div>
        <div class="position">
          <button> Submit </button>
        </div>
      </form>
        <!-- <div class="station">
          <% if stations %>
            <% stations.each do |station| %>
              <div class="station-name"> <%= station[:name] %> </div>
              <div class="station info"> Distance: <%= station[:distance] %> </div>
              <div class="station info"> Available bikes: <%= station[:num_bikes] %> </div>
              <div class="station info"> Empty docks: <%= station[:num_docks] %> </div>
            <% end %>
          <% end %>
        </div> -->
    </body>
</html>
