<!DOCTYPE html>
<html>
  <head>
    <title>Transit Near Me</title>
    <link rel="stylesheet" href="app.css" />
  </head>
    <body>
      <form action="/location" method="POST">
        <div class="position">
          <input type="text" name="position[lat]" placeholder="Latitude" />
        </div>
        <div class="position">
          <input type="text" name="position[long]" placeholder="Longitude" />
        </div>
        <div class="position">
          <button> Submit </button>
        </div>
      </form>
        
    </body>
</html>
