<!DOCTYPE html>
<html>
    <head>
        <title>Transit Near Me</title>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- css style sheet for site -->
        <link rel="stylesheet" href="app.css">
        <!-- set the character encoding for the page -->
        <meta charset="utf-8">
        <!-- set viewport for responsiveness -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div class="container-fluid">
        <!-- this holds the header -->
        <header class ="row">
            <div class="col-md-6">
                <img src="img/metro.png" class="img-rounded" alt="Metro logo." width="112" height="134">
                <img src="img/capital_bikeshare.png" class="img-rounded" alt="Capital Bikeshare logo." width="514" height="74">
            </div>
            <div class="col-md-6">
                <h1 class="name">Transitly</h1>
                <h2 class="title">Findly Transitly Nearly Youly</h2>
            </div>
        </header>

        <!-- adds a line under the header -->
        <div class="row">
            <div class="col-md-12">
                <hr>
            </div>
        </div>

        <!-- this has the main middle image -->
        <main class="row">
            <div class="col-md-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d17862.456565816934!2d-77.02753635!3d38.90019671722417!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sus!4v1444506536042" width="1500" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </main>

        <!-- Location section-->
        <section class="row">
            <div class="col-6">
                <h3 class="footer-title">Enterly Yourly Locationly</h3>
                <form action="/location" method="POST">
                  <input type="text" name="position[lat]" placeholder="Latitude" />
                  <input type="text" name="position[long]" placeholder="Longitude" />
                  <button> Submit </button>
                </form>

            </div>
        </section>

        <!-- adds a line below the about us section -->
        <div class="row">
            <div class="col-md-12">
                <hr>
            </div>
        </div>

        <!-- Stations & Times -->
        <section class="row">
            <div class="col-12">
                <h3 class="footer-title">Stationsly & Timesly</h3>
            </div>
        </section>

        <!-- adds a line below the main picture -->
        <div class="row">
            <div class="col-md-12">
                <hr>
            </div>
        </div>

        <!-- All footer items -->
        <footer class="row">
            <div class="col-md-4">
                <%= @results %>
            </div>
            <div class="col-md-4">
                <%= @results %>
            </div>
            <div class="col-md-4">
                <%= @results %>
            </div>
        </footer>
        </div>

        <!-- adds a line below the trio of data -->
        <div class="row">
            <div class="col-md-12">
                <hr>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>
